---
import MenuSection from '../sections/MenuSection.astro'
import ContactSection from '../sections/ContactSection.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Anibal - Persona styled page</title>
	</head>
	<body class="p-0 m-0">
		<MenuSection />
		<div class="h-8 w-full bg-white" />
		<ContactSection />
	</body>
</html>
