---

---
<div id="video-filter" class="absolute h-screen w-full">
  <img
  class="absolute h-screen object-cover mix-blend-multiply"
  src="/videos/main.gif"
  alt="Main video"
  />
</div>

<style>
  #video-filter {
    background-color: rgb(188, 0, 1);
  }
</style>