---
---

<ul class="
  menu
  font-persona-menu
text-lime-500
  absolute
  text-[5rem]
  z-50
  left-[30vw]
  top-[35vh]
  text-center
  flex
  flex-col
  gap-2
  leading-[4rem]

">
  <li class="relative" >
    About
  </li>
  <li>CONTACT</li>
  <li>Projects</li>
  <li>Resume</li>
  <li>More</li>
</ul>